<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moonglo</title>
  <link rel="stylesheet" href="/layouts/style.css">
<body>
  <nav class="bottom_nav">
    <ul class="nav-list">
      <li class="nav-item"><a href="/pages/journal.html" class="nav-link">Journal</a></li>
      <li><a href="/pages/explore.html">Explore</a></li>
      <li class="nav-item"><a href="/pages/message.html" class="nav-link">Message</a></li>
    </ul>
  </nav>
</body>
</html>
